<!DOCTYPE html>
<html lang="en">
<!-- Write your comments here -->

<head>
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %} - ticketingSystem</title>
    {% endblock %}
</head>
<!-- navigation bar bootstrap. Search not needed-->

<body>
    <div id="header">
        {% block header %}
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand">ticketingSystem</a>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            </form>
        </nav>
        {% endblock %}
    </div>
    <!-- Footer -->
    <div id="content" class="content">
        {% block content %} {% endblock %}
    </div>
    <div id="footer" class="footer mt-auto py-3">
        {% block footer %} &copy; Copyright 2020 by <a href="http://domain.invalid/">Janko Jovicic</a>. {% endblock %}
    </div>
</body>
<!-- note -->